h2{
    color: red;
    height: 40px;
font-size: 70px;
text-align: justify;
margin-left: 20px;
}

a{
    color: black;
    display: flex;
    margin: -100px;
    margin-left: 320px;
    margin-top: -50px;
    display: flex;
    background-color: red;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20px;

}


nav{


    display: flex;
}

.flex{
    display: flex;
    
    
}



div img{
    width: 230px;
    height: 300px;
    margin: 9px;
    margin-top: 50px;
    flex-grow: 1;
    object-fit: cover;
    transition: .50s ease;
}

div img:hover {
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    right: 0%;
    bottom: 25%;
}